.post-ok-btn {
  display: flex;
  position: absolute;
  right: 20px;
  
  border: none;
  background: none;

  color: #a5a3a3;
  font-size: 16px;
  font-weight: 500;

  line-height: 1;

  cursor: pointer;
}
